<ul>
  <li ng-repeat="node in data">
    <a class="btn btn-success btn-xs" ng-if="node.items && node.items.length > 0" ng-click="toggle($index)">
      <span class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': isCollapsed($index),
          'glyphicon-chevron-down': !isCollapsed($index)
        }">
        </span>
      </a>
    {{$index}} : {{node.title}}
    <collapsable-tree data="node.items" ng-class="{hidden: isCollapsed($index)}">
    </collapsable-tree>
  </li>
</ul>
