<p>This is the partial for view 1.</p>

<!-- <collapsable-tree data="build.data">
</collapsable-tree> -->

<script type="text/ng-template" id="nodes_renderer.html">
  <div class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs" ng-if="node.items && node.items.length > 0" data-nodrag ng-click="build.toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
    {{node.title}}
  </div>
  <ol ui-tree-nodes="" ng-model="node.items" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.items" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>

<div class="before-tree"></div>
<div ui-tree>
  <ol ui-tree-nodes="" ng-model="build.data">
    <li ng-repeat="node in build.data" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</div>
<div class="after-tree"></div>
